@{
    ViewData["Title"] = "HomeAdminViewClasses";
}

@model IEnumerable<LMS.Models.UserClassLink>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

    </style>
</head>
<body>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Student Name</th>
                    <th>Class Level</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>
                            <form method="post" action="@Url.Action("DeleteAction", "Account")">
                                <input type="hidden" name="userId" value="@c.UserId" />
                                <input type="hidden" name="classId" value="@c.ClassId" /> 
                                <button type="submit" class="btn btn-danger">Delete</button> 
                            </form>
                        </td>
                        <td>@c.UserId</td>
                        <td>@c.ClassId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
